@import "~styles/index.scss";

.Counter {
  &__header {
    text-align: center;
  }
  &__count {
    display: inline-block;
    @include u-margin-x("3");
  }
  &__form {
    text-align: center;
    @include u-padding-bottom(2);
    .usa-input {
      display: inline-block;
      width: 4rem;
      text-align: center;
    }
  }
}
